<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF READ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <button id="downloadBtn"><i class="fas fa-download"></i> Download as PDF</button>
    <div id="overlay">
        <button id="closeBtn">&times;</button>
        <img src="PICNIWELMAN/welman.jpg" alt="Image Description">
        <h2>Psst! Bawal ig download. Namamati ka?!</h2>
    </div>
    <div class="spinner"></div>
    <div class="pdf-viewer">
        <img src="ITP_page-0023.jpg" alt="PDF Document">
        <img src="ITP_page-0001.jpg" alt="PDF Document">
        <img src="ITP_page-0002.jpg" alt="PDF Document">
        <img src="ITP_page-0003.jpg" alt="PDF Document">
        <img src="ITP_page-0004.jpg" alt="PDF Document">
        <img src="ITP_page-0005.jpg" alt="PDF Document">
        <img src="ITP_page-0006.jpg" alt="PDF Document">
        <img src="ITP_page-0007.jpg" alt="PDF Document">
        <img src="ITP_page-0008.jpg" alt="PDF Document">
        <img src="ITP_page-0009.jpg" alt="PDF Document">
        <img src="ITP_page-0010.jpg" alt="PDF Document">
        <img src="ITP_page-0011.jpg" alt="PDF Document">
        <img src="ITP_page-0012.jpg" alt="PDF Document">
        <img src="ITP_page-0013.jpg" alt="PDF Document">
        <img src="ITP_page-0014.jpg" alt="PDF Document">
        <img src="ITP_page-0015.jpg" alt="PDF Document">
        <img src="ITP_page-0016.jpg" alt="PDF Document">
        <img src="ITP_page-0017.jpg" alt="PDF Document">
        <img src="ITP_page-0018.jpg" alt="PDF Document">
        <img src="ITP_page-0019.jpg" alt="PDF Document">
        <img src="ITP_page-0020.jpg" alt="PDF Document">
        <img src="ITP_page-0021.jpg" alt="PDF Document">
        <img src="ITP_page-0022.jpg" alt="PDF Document">
    </div>

    <script src="script.js">
        
    </script>
</body>
</html>
